body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F7F9FB;
    color: #000000;
    font-family: 'roboto', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
    font-weight: 500;
    font-size: 20px;
  }
  
  .card {
    padding: 1.5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    
  }

  .card p{
    color: #565E7C;
  }
  
  .btn-primary {
    background-color: #213D55;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  